.navbar-custom {
    /*background-color:#e74c3c;*/
    color:#0000CD;
    border-radius:2;
}

.navbar-custom .navbar-nav > li > a {
    color:#000000;
    /*font-weight: bold;*/
    font-size: 18px;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ec971f;
    background-color:transparent;
    /*border: 10px;*/
    /*bordercolor: #a6e1ec;*/
}

.navbar-custom .navbar-nav > li > a:hover {color: #0000CD},
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    /*background-color: 	#CD661D;*/
    /*color: #00CCFF*/
}

.navbar-custom .navbar-brand {
    color:#33aa33;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}

.container-fluid {
background-color:#fff;
}

/*.navbar-default {*/
    /*background-color: #e74c3c;*/
    /*border-top: #AAAAAA;*/
    /*border-width:1px;*/
/*}*/

.navbar-default {
  /*background-color: #ec971f;*/
    background-color: #EEE5DE;
  border-color: #AAAAAA;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #DAA520;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
/*.navbar-default .navbar-nav > li > a {*/
  /*color: #ecf0f1;*/
/*}*/
/*.navbar-default .navbar-nav > li > a:hover,*/
/*.navbar-default .navbar-nav > li > a:focus {*/
  /*color: #cad1e7;*/
/*}*/
/*.navbar-default .navbar-nav > .active > a,*/
/*.navbar-default .navbar-nav > .active > a:hover,*/
/*.navbar-default .navbar-nav > .active > a:focus {*/
  /*color: #000000;*/
  /*background-color: {color:#DAA520};*/
/*}*/
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #6495ED;
}
/*.navbar-default .navbar-toggle {*/
  /*border-color: #237bc1;*/
}
/*.navbar-default .navbar-toggle:hover,*/
/*.navbar-default .navbar-toggle:focus {*/
  /*background-color: #237bc1;*/
/*}*/
/*.navbar-default .navbar-toggle .icon-bar {*/
  /*background-color: #DAA520;*/
/*}*/
/*.navbar-default .navbar-collapse,*/
/*.navbar-default .navbar-form {*/
  /*border-color: #ecf0f1;*/
/*}*/
/*.navbar-default .navbar-link {*/
  /*color: #ecf0f1;*/
/*}*/
/*.navbar-default .navbar-link:hover {*/
  /*color: #cad1e7;*/
/*}*/

/*@media (max-width: 767px) {*/
  /*.navbar-default .navbar-nav .open .dropdown-menu > li > a {*/
    /*color: #DAA520;*/
  /*}*/
  /*.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{color:#DAA520},*/
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #0000CD;
  }
  .dropdown-menu > li > a:hover{color:#0000CD;background-color:#EEAD0E;font-weight: bold},
  /*.dropdown-menu > li > a:focus {*/
    /*color: #DAA520;*/
  /*}*/
  /*.navbar-default .navbar-nav .open .dropdown-menu > .active > a,*/
  /*.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,*/
  /*.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {*/
    /*color: #cad1e7;*/
    /*background-color: #237bc1;*/
  /*}*/
/*}*/

