<footer class="bs-docs-footer" role="contentinfo" >
    <div class="container" >
        <p class="container text-center">Copyright &copy;<a href="http://bioinfo.life.hust.edu.cn/" target=_blank> Guo Lab</a>,<a href="http://life.hust.edu.cn/" target=_blank>&nbsp;College of Life Science and Technology</a>,<a href="http://www.hust.edu.cn" target=_blank> HUST</a>, China</p>

        <p class="container text-center">Any comments and suggestions, please <a href="/SEG/contact">contact us</a></p>
    </div>
</footer>