<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/SEGreg/css/jquery.tablesorter.pager.min.css">
    <script src="/static/SEGreg/js/respond.min.js"></script>
    <link rel="stylesheet" href="/static/SEGreg/css/theme.bootstrap.css">
    <title>Contact</title>
    {% include 'navigation.partial.html' %}
</div>

<div class="container bs-docs-container" >
    <h2 class="subTitletext">Contact us</h2>
    <div id="people"><table><tr><td>
        <address>
        <p><h4><strong>An-Yuan Guo, Ph.D. Professor of Bioinformatics</strong></h4></p>
        <div><strong>Email:</strong><img src="/static/SEGreg/images/guo_email.png"></img></div>
        </address></td></tr><tr><td>
        <p><h4><strong>Qin Tang, Ph.D.</strong></h4></p>
        <div><strong>Email:</strong><img src="/static/SEGreg/images/tang_email.png"></div>
        </address></td></tr></table>
    </div>
    <div id="organization" style="margin-top:30px">
    <p ><a href="http://bioinfo.life.hust.edu.cn/" target=_self >Hubei Bioinformatics & Molecular Imaging Key Laboratory</a></p>
    <p>Department of Bioinformatics and Systems Biology</p>
    <p ><a href="http://life.hust.edu.cn/" target=_self >College of Life Science and Technology</a></p>
    <p ><a href="http://www.hust.edu.cn/" target=_self >Huazhong University of Science and Technology</a>, Wuhan 430074 P.R. China</p>
    </div>
</div>
<!-- </div> -->
</div>
</body>
</html>
{% include 'footer.html' %}
