<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/SEGreg/css/jquery.tablesorter.pager.min.css">
    <script src="/static/SEGreg/js/respond.min.js"></script>
    <link rel="stylesheet" href="/static/SEGreg/css/theme.bootstrap.css">
    <title>Download datasets and SEGtool</title>
    {% include 'navigation.partial.html' %}
</div>
<div id="wrapper"  role="navigation" >
    <div class="container">
    <h2 class="subTitletext">Download datasets</h2>
    <table>
    <tr>
    <td><a href='/static/SEGreg/download/TCGAmysqldata.xls'><h3>TCGA dataset</h3></a></td>
    </tr>
    <tr>
    <td><a href='/static/SEGreg/download/BodyMapmysqldata.xls'><h3>BodyMap dataset</h3></a></td>
    </tr>
    <tr>
    <td><a href='/static/SEGreg/download/GTExmysqldata.xls'><h3>GTEx dataset</h3></a></td>
    </tr>
    <tr>
    <td><a href='/static/SEGreg/download/CCLEmysqldata.xls'><h3>CCLE dataset</h3></a></td>
    </tr>
    </table>
    <h2 class="subTitletext">Download specifically expressed gene detection tool</h2>
    <table>
    <tr>
    <td><a href='http://bioinfo.life.hust.edu.cn/SEGtool/'><h3>SEGtool</h3></a></td>
    </tr>
    </table>
</div> </div></div>
</body>
</html>
{% include 'footer.html' %}