<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/SEGreg/css/jquery.tablesorter.pager.min.css">
    <script src="/static/SEGreg/js/jquery.tablesorter.min.js"></script>
    <script src="/static/SEGreg/js/jquery.tablesorter.widgets.min.js"></script>
    <script src="/static/SEGreg/js/jquery.tablesorter.pager.min.js"></script>
    <script src="/static/SEGreg/js/respond.min.js"></script>
    <link rel="stylesheet" href="/static/SEGreg/css/theme.bootstrap.css">
    <title>{{ name }}</title>

    {% set current_page = '' %}
    {% include 'navigation.partial.html' %}
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tcga').tablesorter({
            theme: "bootstrap",
            widgets: ["uitheme", 'zebra'],
            headerTemplate: '{content} {icon}'
        });
    });
</script>

<div class="container bs-docs-container" >
    <table>
        <tr><td style="width:600px;color: #CD3700;"><h4>Browse <b>{{ name }}</b> | Total records: <b>{{ sum }}</b></h4></td> <td align="right" width="500px">{{ pagination.links }}</td></tr>
    </table>
    <table id="tcga" class="table table-bordered table-striped table-hover table-condensed tablesorter tablesorter-bootstrap" role = "grid">
        <thead><tr class = "active" role="row">
            <th>ID</th><th>Tissue</th><th>Gene</th><th>Tag</th><th title="If this gene is regulated by miRNAs in the same cancer, the miRNAs are list in this column">miRNA</th><th title="If this gene is regulated by TFs in the same cancer, the TFs are list in this column">Gene regulated by TFs</th><th title="If this gene is also a TF, TF targets in the same cancer are list in this column">TF targets</th><th>Regulatory<br> network</th><th>Detail</th></tr></thead>
        <tbody>
        {% for i in numbers %}
            <tr><td title="{{ i.8 }}">{{ i.8 }}</td>
                <td title="{{ i.1 }}">{{ i.1 }}</td>
                <td title="NCBI link"><a href="https://www.ncbi.nlm.nih.gov/gene/?term={{ i.2 }}" target="_self">{{ i.2 }}</a></td>
                <td title="See barplot of gene expression level" style="text-align:center"><a href="http://bioinfo.life.hust.edu.cn/SEGreg/expBarplotGTEx?tissue={{ i.1 }}&gene={{ i.2 }}" target="_self">{{ i.3 }}</a></td>
                <td title="{{ i.4 }}">{{ i.4|truncate(30)}}</td>
                <td title="{{ i.6 }}">{{ i.6|truncate(30)}}</td>
                <td title="{{ i.7 }}">{{ i.7|truncate(30)}}</td>
                <td align="center"><a href="http://bioinfo.life.hust.edu.cn/SEGreg/allDBnetwork?source=GTEx&tissue={{ i.1 }}&gene={{ i.2 }}" target="_self">network</a></td>
                <td align="center"><button id="{{ i.0 }}" value="{{ i }}"  onclick="document.getElementById('details').innerHTML =test({{ i.0 }})" style="height:26px" class="btn btn-primary"  data-toggle="modal"  data-target="#myModal">detail</button></td></tr>
                <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" >
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4  class="modal-title" id="myModalLabel"><b>Details</b></h4>
                            </div>
                            <div id="details" class="modal-body" style="color: #0D0D0D">
                                <p>Text goes here.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
        </tbody>
    </table>
    {{ pagination.links }}
<script>
        function test(a){var myvar= document.getElementById(a).value;
            var tissue=myvar.split(",")[1].replace("u'","").replace("'","");
            var gene=myvar.split(",")[2].replace("u'","").replace("'","");
            var tag=myvar.split(",")[3].replace("u'","").replace("'","");
            var miR=myvar.split(",")[4].replace("u'","").replace("'","");
            var gene_TF=myvar.split(",")[6].replace("u'","").replace("'","");
            var TF_gene=myvar.split(",")[7].replace("u'","").replace("'","").replace(")","");
            return "<b>Tissue:&nbsp</b>"+tissue+"<br>"+"<b>Gene:&nbsp</b>"+gene+"<br>"+"<b>Highly/Lowly expressed:&nbsp</b>"+tag+"ly<br>"+"<b>Gene regulated by miRNAs:&nbsp</b>"+miR+"<br>"+"<b>Gene regulated by TFs:&nbsp</b>"+gene_TF+"<br>"+"<b>If&nbsp this&nbsp gene&nbsp is&nbsp a&nbsp TF,&nbsp the regulated genes are:&nbsp</b>"+TF_gene;
        }</script>
</div>
</body>
</html>
{% include 'footer.html' %}
